[submodule "genesis-be/genesis-scripts"]
	path = apla-be/genesis-scripts
	url = git@github.com:blitzstern5/genesis-scripts
    branch = master
[submodule "genesis-bf/genesis-scripts"]
	path = apla-bf/genesis-scripts
	url = git@github.com:blitzstern5/genesis-scripts
    branch = master
[submodule "genesis-blex/genesis-scripts"]
	path = apla-blex/genesis-scripts
	url = git@github.com:blitzstern5/genesis-scripts
    branch = master
